VITE_YOUTUBE_API_KEY=""


# How to add your YouTube API key
# Go to https://console.cloud.google.com/
# Create a project (or select an existing one)
# Go to APIs & Services > Library
# Search for "YouTube Data API v3" and click Enable
# Go to APIs & Services > Credentials
# Click Create Credentials > API Key
# Copy the key, then in your watch-in-10/ folder:
